@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<input type="text" id="girilen" placeholder="değer giriniz."/>
<button id="getir">Çalıştır</button>

<script>
    document.getElementById("getir").addEventListener("onclick", function(event) {
        event.preventDefault();
        var deger=document.getElementById("girilen").value;
        console.log(deger);
    });
</script>